venv/
__pycache__/
.pytest_cache/
.git/
.gitignore
*.pyc
*.pyo
*.pyd
.DS_Store

data/local_landing/
data/bronze/
data/silver/
data/gold/
data/prediction_logs/
data/model_artifacts/

reports/
mlruns/
mlflow.db