fastapi
uvicorn
pydantic
pandas
numpy
faker
python-dotenv
requests
pytest
pyspark
scikit-learn
mlflow
joblib
xgboost
ragas
datasets
langchain
langchain-groq
python-dotenv
sentence-transformers
streamlit
plotly
requests